@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.nopage
{
    padding: 20%;
    text-align: center;
    height: 200px;
}
.home 
{
   
    // background-image: url("../images/bg3.jpg");
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/hbg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Contact-page
{
    img 
    {
        width: 100%;
        height: 400px;
        object-fit:fill;
    }
    form 
    {
        div 
        {
            padding: 10px;
            input[type=text]
            {
                padding: 15px;
            }
            input[type=date]
            {
                padding: 10px 2px;
            }
        }
    }
}
.games
{
    

    // background-image: url("../images/cbg.jpg");
    background: url('../images/gbg1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    .game-card
    {
        display: grid;
        padding: 15px 0px;
        grid-template-columns: auto auto;
        grid-gap: 5px;
        text-align: center;
        img 
        {
            border: 3px solid white;
            box-shadow: rgb(255, 254, 254) 0px 50px 100px -20px, rgb(255, 255, 255) 0px 30px 60px -30px, rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
        }
    }
}

.xox-game
{
    margin: 15px;
    text-align: center;
   
    table
    {
        height: 300px;
        max-width: -webkit-fill-available;
        margin: auto;
        text-align: center;
       padding: 10px 0px;
       
        tr 
        {
            background-color: rgb(8, 8, 114);
            td
            {
                border: 2px solid white;
                width: 96px;
                height: 96px;
                div
                {
                    font-size: xx-large;
                    font-weight: bolder;
                }
            }
        }
    }
}

#win
{
    display: none;
    position: fixed;
   
    top: 30%;
    // background-color: white;
    // color: black;
    color: white;
    font-weight: bolder;
    font-size:40px;
    text-shadow: 2px 2px darkred;
    padding: 20px;
    // border: 3px solid black;
    width: -webkit-fill-available;
    
}

.blog-img
{
    position: relative;
    margin-bottom: 120px;
    .blog-img-text
    {
        position: absolute;
        color: white;
        font-size: 25px;
        font-weight: bold;
        img
        {
            position: absolute;
            top: 240px;
            left: 50px;
            border-radius: 50%;
        }
    }
    .blog-bg
    {
        width: 100%;
        height: 350px;
    }
}


.post-form
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    #form-p
    {
        width: 600px;
        height: 100px;
    }
    .form-p-btn
    {
        width: 300px;
        margin-top:10px ;
        cursor: pointer;
        height: 35px;
    }
}
.post-data
{
    padding: 5%;
    div
    {
        display: flex;
        flex-direction: column;
    }
    .post
    {
        border-radius: 5px;
        // border-bottom: 2px solid black;
        // border-top: 2px solid black;
        border-top-left-radius: 30px;
        margin-top: 15px;
        margin-bottom: 5px;
        padding: 10px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background-color: rgb(244, 239, 233);
    }
}
.mask1 {
    -webkit-mask-image: url("../images/paper.jpg");
    mask-image: url("../images/paper.jpg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;    
  }

  .player-details
  {
    width: fit-content;
    text-shadow: 2px 2px rebeccapurple;
    background-color: black;
    padding: 15px 35px;
    border: 3px solid white;
    margin : 10px auto;
    border-radius: 20px;
  }

form 
{
    input [type=text]
{
    padding: 10px;
    margin:10px 0px;
}
}

@media screen and (max-width:992px) {
    .games
    {
        .game-card
        {
            grid-template-columns: auto;
        }
    }
      .post-form 
    {
        #form-p 
        {
            width: 300px;
        }
        .form-p-btn
        {
            width: 200px;
        }
       

    }
  
    
}
.traffic
{
    display: flex;
    width: fit-content;
    background-color: black;
    margin: 10px auto;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid white;
}

.black
{
    background-color: black;
}
.season {
	height: 18vh;
	display: flex;
	align-items: center;
	justify-content: center;
    p {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        // font-family: "Luckiest Guy",sans-serif;
        font-family: 'Lobster', cursive;
        font-size: 5rem;
        letter-spacing: 0.7rem;
        width: 100%;
        height: 100%;
        color: white;
        // background: rgb(46, 45, 45);
        text-align: center;
        mix-blend-mode: multiply;
        // text-shadow: -5px 5px 0px black, -10px 10px 0px white, -20px 20px 0px purple;
    }
}



.one {
	// background: url("https://images.unsplash.com/photo-1634474559500-c934afa9f01f?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzA4OTcyNg&ixlib=rb-1.2.1&q=85");
	// background: url('../images/gamer1.jpg');
    background: red;
    background-position: bottom right;
	background-size: cover;
}

.two {
	// background: url("https://images.unsplash.com/photo-1634151527394-02a59150c521?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzA4OTMwNA&ixlib=rb-1.2.1&q=85");
	// background: url('../images/gamer.jpg');
    background: yellow;
    background-position: top;
	background-size: cover;
}

.three {
	// background: url("https://images.unsplash.com/photo-1490750967868-88aa4486c946?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzA5MDU2NQ&ixlib=rb-1.2.1&q=85");
	// background: url('../images/gamer2.jpg');
    background: orange;
    background-position: bottom left;
	background-size: cover;
}

.four {
	// background: url("https://images.unsplash.com/photo-1453959022778-cfda85dbe0f9?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzA4NjY0NQ&ixlib=rb-1.2.1&q=85");
	background: green;
    background-position: center;
	background-size: cover;
}
.home-page-graphics
{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:"768px") {
    .traffic
    {
        flex-direction: row;
    }
    .home-page-graphics
    {
        flex-direction: column;
    }
}