header
{
    position: sticky;
    top: 0;
    z-index: 2;
}
#menu-icon
{
    color: whitesmoke;
    cursor: pointer;
    font-size: xx-large;
}
#menu-icon:hover
{
    color: darkgoldenrod;
}

nav{
    ul
    {
        display: flex;
        li
        {
            flex-grow: 1;
            list-style: none;
            a
            {
                text-decoration: none;
                color: white;
                font-family: 'Ubuntu', sans-serif;
                font-weight: bolder;
            }
        }
    }
}

.header
{
    display: flex;
    background-color: #0A2647;
}
.header>*
{
    flex-grow: 1;
}


footer{
    height: 250px;
    text-align: center;
    background-color: #205295;
    color: white;
}

.mobile-menu{
    display: none;
}
.menu-icon
{
    display: none;
}
.site-navbar
{
    position: relative;
}

@media screen and (max-width:992px) {
    .menu-icon
    {
        display: block;
        position: absolute;
        right: 5px;
        top: 25px;
        float: right;
        font-size: xx-large;
    }
    .mobile-menu
    {
        position: absolute;
        top: 58px;
        right: 0px;
        background-color: #0046a0;
        padding: 40px 80px;
        li 
        {
            padding: 10px 0px;
            a 
            {
                font-size: 18px;
            }
        }
    }

    .desktop-menu
    {
        display: none;
    }
}